<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- load the properties file: sport.properties	-->
	<context:property-placeholder location="classpath:sport.properties"/>

	<!-- define the dependency -->

	<!-- HappyFortuneService happyFortuneService = new HappyFortuneService();	-->
	<bean id="happyFortuneService"
		  class="romani.springdemo.HappyFortuneService" />


	<!-- Define your beans here -->

<!--  	BaseBallCoach basBallCoach = new BaseBallCoach(happyFortuneService); -->
	<bean id="basBallCoach"
		  class="romani.springdemo.BaseBallCoach">

		<!-- set up constructor injection -->

		<constructor-arg ref="happyFortuneService"/>

	</bean>

<!--  	TrackCoach trackCoach = new TrackCoach(happyFortuneService); -->
	<bean id="trackCoach"
		  class="romani.springdemo.TrackCoach">

		<!-- set up constructor injection -->

		<constructor-arg ref="happyFortuneService"/>

	</bean>

<!--
        CrickedCoach crickedCoach = new CrickedCoach();
        crickedCoach.setFortuneService(happyFortuneService);

        crickedCoach.setEmailAddress("romaniezzat@hotmail.com");
        crickedCoach.setEmailAddress("Sunrises Hyderabad");

-->
	<bean id="crickedCoach" class="romani.springdemo.CrickedCoach">

		<!-- set up setter injection -->
		<property name="fortuneService" ref="happyFortuneService"/>

		<!-- inject literal values		-->

		<property name="emailAddress" value="${foo.email}"/>
		<property name="team" value="${foo.team}"/>

<!--		<property name="emailAddress" value="romaniezzat@hotmail.com"/>-->
<!--		<property name="team" value="Sunrises Hyderabad"/>-->

	</bean>


</beans>





